@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
html, body {
    margin: 0;
    font-family: 'Montserrat';
}
nav {
    display: flex;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
}
nav a {
    color: #FF0000;
    margin-left: 36px;
    margin-right: 36px;
    text-decoration: none;
    font-size: 18px;
}

header img {
    width: 100%;
}


body h2{    
    font-family: 'Montserrat';
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-top: 48px;
    margin-bottom: 38px;
}
body p{
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 38px;
   
    font-size: 16px;
    line-height: 26px;
    width: 1145px;

   
   
}
body p{    
    text-align: center;
    letter-spacing: 2.4px;
    margin-top: 25pxx ;
    color: #373737;
    font-size: 16px;
    line-height: 26px;
    text-indent: 22px;
}
    
    
section{
    padding-left: 65.7px;
    padding-right: 65.7px;

}
button{
    background-color: #FF0000;
   
    color:white;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;   
    border-radius: 4px;
    letter-spacing: 1.8px;  
    
    margin-left: 40%;
     margin-top: 2%;
    text-transform: uppercase;
     border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;

}
footer{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    letter-spacing: 2.4px;
    margin-left: 703px;
    margin-top: 40px;
    margin-right: 105px;
    color: #373737;
    margin-bottom: 29px;

}


